.b1{
    width: 40%;
	height: 38px;
    border: none;
    border-radius: 64px;
    background-color: #ff8b10;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    font-family: "a15";
    font-size: 15px;
    margin-left: 30px;
    margin-top: 75px;

}

.b2{
    width: 40%;
	height: 38px;
    border: none;
    border-radius: 64px;
    background-color: #ff8b10;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    font-family: "a15";
    font-size: 15px;
    margin-left: 15px;
}